---
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: AfterHash
ColumnLimit: 80
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: true
AlwaysBreakAfterReturnType: All
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeParens: Never
StatementMacros: ['FUNC_ENTER_VOL', 'FUNC_LEAVE_VOL']
...
